#include "base/base.config"
#include "chips/rk3506_arm.config"
#include "fs/vfat.config"
#include "multimedia/audio.config"
BR2_PACKAGE_CAN_UTILS=y
BR2_PACKAGE_COREMARK=y
BR2_PACKAGE_COREUTILS=y
BR2_PACKAGE_EVTEST=y
BR2_PACKAGE_GDB=y
BR2_PACKAGE_GDB_DEBUGGER=y
BR2_PACKAGE_GDB_STATIC=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y
BR2_PACKAGE_I2C_TOOLS=y
BR2_PACKAGE_IPERF=y
BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_IW=y
BR2_PACKAGE_LIBDRM_INSTALL_TESTS=y
BR2_PACKAGE_LIBV4L=y
BR2_PACKAGE_LIBV4L_UTILS=y
BR2_PACKAGE_MEMTESTER=y
BR2_PACKAGE_MHZ=y
BR2_PACKAGE_MTD=y
BR2_PACKAGE_ROCKCHIP_RGA=y
BR2_PACKAGE_SOX=y
BR2_PACKAGE_STRESS=y
BR2_PACKAGE_STRESSAPPTEST=y
BR2_TARGET_ROOTFS_SQUASHFS4_XZ=y
BR2_TARGET_ROOTFS_UBI=y
BR2_TARGET_ROOTFS_UBI_SQUASHFS=y
BR2_TARGET_ROOTFS_UBI_SUBSIZE=2048
