#include "base/base.config"
#include "chips/rk3506_arm.config"
#include "fs/vfat.config"
#include "multimedia/audio.config"
BR2_TARGET_ROOTFS_UBI=y
BR2_TARGET_ROOTFS_UBI_SQUASHFS=y
BR2_TARGET_ROOTFS_SQUASHFS4_XZ=y
BR2_TARGET_ROOTFS_UBI_MINIOSIZE=0x800
BR2_TARGET_ROOTFS_UBI_PEBSIZE=0x20000
BR2_TARGET_ROOTFS_UBI_SUBSIZE=2048
BR2_PACKAGE_ROCKCHIP_RGA=y
BR2_TARGET_GENERIC_HOSTNAME="rk3506"
